<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script_timetable.js"></script>
    <title>WorkFlow - Расписание</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo">WorkFlow.</div>
        <div class="header-actions">
            <a href="../chat_page" class="header-link">ЛС</a>
            <a href="#" class="header-link">Профиль</a>
        </div>
    </header>

    <div class="container">
        <aside>
            <nav class="nav-menu">
                <a href="./main_page" class="nav-item active">расписание</a>
                <a href="./staff" class="nav-item">Сотрудники</a>
                <a href="./tasks" class="nav-item">задачи</a>
                <a href="./menagment" class="nav-item">менеджмент</a>
            </nav>
        </aside>

        <main>
            <h1>Расписание</h1>

            <div class="schedule-grid" id="table">

            </div>
        </main>
    </div>
</body>
</html>
