<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./RegBlock.CSS" />
    <title>Регистрация</title>

    <!-- Подключаем шрифт Inter с Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="main-wrapper">
            <div class="Main_Border">

                <!-- Заголовок -->
                <div class="reg_ID">
                    <h1 class="H1">Регистрация</h1>
                </div>

                <!-- Поле: Имя -->
                <label for="login" class="text">Логин</label>
                <input type="text"
                    class="text_input_element"
                    id="login"
                    name="login"
                    placeholder="Введите имя"
                    required
                    minlength="2"
                    maxlength="67"
                >

                <!-- Поле: Имя -->
                <label for="Name" class="text">Имя Фамилия</label>
                <input type="text"
                    class="text_input_element"
                    id="Name"
                    name="Name"
                    placeholder="Введите Имя и Фамилию"
                    required
                >

                <!-- Поле: Фамилия -->



                <!-- Поле: Пароль -->
                <label for="email" class="text">Стек</label>
                <textarea name="Stec" id="Stec" class="text_input_element" placeholder="Front-End, Back-End, Design"></textarea>

                <label for="password" class="text">Пароль</label>
                <input type="password"
                    class="text_input_element"
                    id="password"
                    name="password"
                    placeholder="Ваш Пароль"
                    required
                    minlength="6"
                >

                <!-- Чекбокс -->
                <div class="checkbox-wrapper">
                    <input type="checkbox"
                        id="agrred"
                        name="agreed"
                        required
                    >
                    <label for="agreed" id="agreed" class="text">Я согласен с условиями пользования</label>
                </div>



                <!-- Кнопка -->
                <button class="send_but">Отправить</button>

                <br>

                <div class="centred_items">
                    <a href="./Sign_In.html" class="text">у меня уже есть аккаунта</a>
                </div>

            </div>
        </div>
    </main>
</body>
</html>